#bootstrap-overrides h1,
#bootstrap-overrides h2,
#bootstrap-overrides h3,
#bootstrap-overrides h4 {
  color: #b81312;
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
}

#bootstrap-overrides p {
  margin-bottom: .5rem;
}

#bootstrap-overrides .navbar-brand:hover,
#bootstrap-overrides .nav-link:hover {
  color: rgb(184, 19, 18);
  font-weight: bold;
}

#register-button {
  background-color: rgb(184, 19, 18);
  border: 0;
  margin-top: 8px;
}

#bootstrap-overrides .form-label {
  margin-top: 4px;
  margin-bottom: 4px;
}

#bootstrap-overrides input:hover,
#bootstrap-overrides input:focus,
#bootstrap-overrides select:hover,
#bootstrap-overrides select:focus {
  box-shadow: 0 0 0 0.25rem rgb(184, 19, 18, .50);
  border: 1px solid rgb(184, 19, 18, .50);
}

.select-div {
  display: flex;
  justify-content: end;
  margin: 0 0 4px 0;
}

.select-div select {
  border: 1px solid rgb(184, 19, 18);
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  #bootstrap-overrides h4 {
    font-size: 16px;
  }
  #bootstrap-overrides p {
    font-size: 13px;
  }
}


